@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a{
   @apply p-1.5 px-3 border rounded-md text-sm hover:bg-black/5
}

h1{
  @apply mb-2 mt-2
}